* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Bai Jamjuree", sans-serif;
}

#main-header {
  color: hsl(201, 9%, 31%);
}

#article-1 {
  width: 100vw;
  border-top: 3.5px solid white;
  background-image: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#article-1-logo {
  margin: 8rem 0rem 3.5rem 0rem;
}

#article-1 h2 {
  font-size: 44.5px;
  margin: 0px 0px 1rem 0px;
}

#article-1-p-1 {
  width: 49%;
  text-align: center;
  font-size: 18px;
  color: hsl(201, 11%, 66%);
  line-height: 1.5;
  font-size: 20px;
  text-align: center;
  width: 50%;
  word-spacing: 0.1rem;
}

#article-1 .header-1{
  margin-bottom: 1rem;
}

.common-buttons {
  width: 35%;
  margin: 3rem 0px 10rem 0px;
  display: flex;
  justify-content: space-evenly;
}

.common-buuton-p {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18.8px;
  color: hsla(0, 0%, 100%, 0.829);
  font-weight: 600;
}
.green-button {
  background-color: hsl(171, 66%, 44%);
  box-shadow: 0px 2px 2px 1px hsl(171, 67%, 39%);
}

.blue-button {
  background-color: hsl(233, 100%, 69%);
  box-shadow: 0px 2px 2px 1px hsl(233, 65%, 59%);
}

.common-button-1-2 {
  border: none;
  width: 45%;
  padding: 0.9rem 1rem 0.9rem 1rem;
  border-radius: 5rem;
}

#article-2 {
  display: flex;
  margin: 4.5rem 0px 0px 0px;
}

#article-2-image {
  flex-basis: 50%;
  position: relative;
  height: 19vh;
}

#article-2-image img {
  position: absolute;
  left: -40px;
}
#article-2-rightside {
  right: 0px;
}

.article-2-options {
  width: 46%;
  margin: 3rem 2rem 0rem 6.5rem;
  font-size: 16px;
  color: hsl(203, 20%, 76%);
  font-weight: 600;
  word-spacing: 0.1rem;
  line-height: 2;
}

.header-1 {
  font-size: 2.2rem;
  color: hsla(212, 10%, 33%, 0.877);
}

.header-1-p {
  text-align: center;
  width: 49%;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 600;
  color: hsl(203, 16%, 77%);
}

.header-2 {
  color: hsl(201, 9%, 31%);
  margin: 2.3rem 0px 0.8rem 0px;
  font-size: 23px;
}

#article-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#article-3-header {
  margin: 0px 0px 1.3rem 0px;
}

#article-3 img {
  margin: 6.5rem 0rem 4rem 0rem;
}

#aside-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#aside-1-header {
  margin: 0px 0px 1rem 0px;
}

#aside-1-list {
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 5rem 0px 0px 0px;
}

.aside-1-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 94%;
  text-align: center;
}

.special-case {
  margin: 0px 0px 1.9rem 0px;
}

.header-2-p {
  font-size: 16.3px;
  color: hsl(200, 20%, 79%);
  line-height: 2;
  font-weight: 600;
}

#aside-1-companies {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem 0px 10rem 0px;
}

#aside-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aside-2 .header-1 {
  margin-bottom: 1rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 4vh;
  background-color: hsla(202, 11%, 66%, 0.089);
  margin-top: 1rem;
}

#footer-logo {
  height: 55px;
  width: 55px;
}

#footer-options {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 40%;
  height: 50%;
  color: hsl(203, 6%, 55%);
  font-weight: 600;
  font-size: 18px;
  margin: 1.8rem 2.8rem 0px 0px;
}

footer p{
  display: inline;
}

#footer-icons {
  width: 9%;
  display: flex;
  justify-content: space-between;
}

#facebook:hover{
  fill: #4267B2;
  cursor: pointer;
}

#twitter:hover{
  cursor: pointer;
  fill: #00acee;
}

#instagram:hover{
  cursor: pointer;
  fill: #bc2a8d;
}

#footer-options span p:hover{
  color:hsl(171, 66%, 44%) ;
  cursor: pointer;
}

.green-button:hover{
  background-color:  hsl(171, 66%, 48%);
  border: none;
  cursor: pointer;
}

.blue-button:hover{
  border: none;
  background-color: hsl(233, 92%, 74%);
  cursor: pointer;
}